<div class="live-tile blue" data-mode="fade" data-stops="50%" data-ani-direction="forward" data-direction="horizontal" ng-click="returnHome()" data-stack="true">
    <div>
        <i class="fa fa-chevron-circle-left fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Back</p>
    </div>
</div>
<div class="live-tile blue" ng-click="openModal()" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-wifi fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Wifi</p>
    </div>
</div>
<div class="live-tile blue" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-cutlery fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Wifi</p>
    </div>
</div>
<div class="live-tile blue" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-drivers-license-o fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Wifi</p>
    </div>
</div>
<div class="live-tile blue" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-coffee fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Wifi</p>
    </div>
</div>
<div class="live-tile blue" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-taxi fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Wifi</p>
    </div>
</div>
<div class="live-tile blue" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-calendar fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Book a room</p>
    </div>
</div>
<!--
<div class="modal" style="display:block">
    <div class="modal-content">
        <div class="modal-header" style="">
            <div style="float:left; width: 75%;height: 50px;margin:25px;">New Issue</div>
            <div>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="requester">
            <div class="half-input-box">
                <div class="label">Requester Details</div>
                <div class="input"><input type="text" value="Jonathan Callister"></input></div>
            </div>
        </div>
        <div id="data-input">
            <div class="full-input-box">
                <div class="label">Subject</div>
                <div class="input"><input type="text" value="Subject"></input></div>
                <div class="label">Description</div>
                <div class="input"><input type="text" value="Enter Description Here"></input></div>
            </div>
            <div class="input-container">
                <div class="half-input-box">
                    <div class="label">Site</div>
                    <div class="input"><input type="text" value="Liverpool"></input></div>
                    <div class="label">Incident Category</div>
                    <div class="input"><input type="text"></input></div>
                    <div class="label">Environment</div>
                    <div class="input"><input type="text"></input></div>
                </div>
                <div class="half-input-box">
                    <div class="label">Users Affected</div>
                    <div class="input"><input type="text"></input></div>
                    <div class="label">Is there a Workaround</div>
                    <div class="input"><input type="text"></input></div>
                    <div class="label">Workaround Detail</div>
                    <div class="input"><input type="text"></input></div>
                    <div class="label">Is Incident Time Critical?</div>
                    <div class="input"><input type="text"></input></div>
                    <div class="label">Critical date</div>
                    <div class="input"><input type="text"></input></div>
                </div>
            </div>
        </div>
        <div>
            <input style="float:right;margin-right: 20px;margin-bottom: 20px;" type="submit" value="submit"></input>
            </div>
    </div>
</div> -->