<div ng-click="clicked()" class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-medkit fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Health and Safety</p>
    </div>
</div>
<div class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-building fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Facilities</p>
    </div>
</div>
<div class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-key fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Property Management</p>
    </div>
</div>
<div class="live-tile crimson" ng-click="receptionClicked()" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-user-o fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Reception</p>
    </div>
</div>
<div class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-file-o fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Document management</p>
    </div>
</div>
<div class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-phone fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Contact Us</p>
    </div>
</div>
<div class="live-tile crimson" data-mode="slide" data-stops="50%" data-stack="true">
    <div>
        <i class="fa fa-compass fa-5x" ></i>
    </div>
    <div style="background-color:#c32634">
        <p>Travel</p>
    </div>
</div>