<md-dialog class="ussModal">
    <md-dialog-content ng-cloak>
        <md-toolbar md-theme="docs-dark">
            <div class="md-toolbar-tools">
                <h2>Catering Request - {{ctrl.formData.status}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                    <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content md-theme="docs-dark">
            <div id="readOnly" class="modalPanel animate-show-hide" ng-show="!ctrl.edit">
                <form ng-submit="ctrl.accept()">
                    <md-content md-theme="docs-dark" style="padding:10px;">
                        <div>
                            <div layout="row">
                                <div layout-padding flex="50">Requested By</div>
                                <div layout-padding>{{ctrl.formData.createdBy}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Site</div>
                                <div layout-padding>{{ctrl.formData.site}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Room</div>
                                <div layout-padding>{{ctrl.formData.room}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Ordered By</div>
                                <div layout-padding>{{ctrl.formData.orderedBy}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Date and Time Required</div>
                                <div layout-padding>{{ctrl.formatDate(ctrl.formData.required)}} - {{ctrl.formatTime(ctrl.formData.required)}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Order Choice</div>
                                <div layout-padding>{{ctrl.formData.orderChoice}} x {{ctrl.formData.orderCount}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Special Dietary requirements</div>
                                <div layout-padding>{{ctrl.formData.dietaryRequirements}}</div>
                            </div>
                            <div layout="row">
                                <div layout-padding flex="50">Additional Information</div>
                                <div layout-padding>{{ctrl.formData.additionalComments}}</div>
                            </div>
                            <div layout="column" ng-if="ctrl.formData.adminComments.length>0">
                                <div layout-padding flex="100">Comments</div>
                                <div layout="row" layout-padding ng-repeat="item in ctrl.formData.adminComments">
                                    <div flex="100" layout="row">
                                        <div flex="40">{{item.user}}</div>
                                        <div flex="60">{{item.comment}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                    <div layout="row" layout-align="space-between">
                        <md-button flex="nogrow" class="md-warn" layout-align="start start" ng-click="ctrl.toggleEdit()">Edit</md-button>
                        <md-button flex="nogrow" class="md-warn" layout-align="start start" ng-click="ctrl.closeDialog()">Reject</md-button>
                        <md-button flex="nogrow" type="submit" class="md-primary md-raised" layout-align="start end">Accept</md-button>
                    </div>
                </form>
            </div>
            <div id="edit" class="modalPanel animate-show-hide"  ng-show="ctrl.edit">
                <form name="editForm" ng-submit="ctrl.update(editForm.$valid)" novalidate>
                    <md-content layout-margin md-theme="docs-dark">
                        <div layout="column">
                            <md-input-container>
                                <label>Requested By</label>
                                <input ng-disabled="!ctrl.edit" ng-model="ctrl.formData.createdBy" />
                            </md-input-container>

                            <md-input-container flex-gt-sm="50">
                                <label>Office</label>
                                <md-select ng-disabled="!ctrl.edit" name="site" ng-model="ctrl.formData.site" required>
                                    <md-option ng-repeat="office in ctrl.offices" value="{{office.name}}">
                                        {{office.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="requestDetailForm.site.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                            </md-input-container>
                            <!--
                                    <md-input-container flex-gt-sm="50" ng-if="ctrl.formData.site==='London'">
                                        <label>Room</label>
                                        <md-select ng-model="ctrl.formData.room">
                                            <md-option ng-repeat="room in ctrl.londonRooms" value="{{room.name}}">
                                                {{room.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>-->
                            <md-input-container flex-gt-sm="50" ng-if="ctrl.formData.site==='Liverpool'">
                                <label>Room</label>
                                <md-select name="room" ng-model="ctrl.formData.room" required>
                                    <md-option ng-repeat="room in ctrl.liverpoolRooms" value="{{room.name}}">
                                        {{room.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="requestDetailForm.room.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                            </md-input-container>

                            <div layout-gt-sm="row">
                                <md-input-container flex-gt-sm="50">
                                    <label>Menu Selection</label>
                                    <md-select name="orderChoice" ng-model="ctrl.formData.orderChoice" required>
                                        <md-option ng-repeat="item in ctrl.menues" value="{{item.name}}">{{item.name}}</md-option>
                                    </md-select>
                                    <div ng-messages="requestDetailForm.orderChoice.$error">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-sm="50">
                                    <label>Number Required</label>
                                    <input required type="number" step="any" name="orderCount" ng-model="ctrl.formData.orderCount" min="1" max="99" ng-pattern="numberMatch"
                                    />
                                    <div ng-messages="requestDetailForm.orderCount.$error">
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="min">At least 1 is required</div>
                                        <div ng-message="max">Please call reception</div>
                                        <div ng-message="pattern">Please enter valid characters</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div flex="50" layout="row" layout-align="center end">
                                <md-input-container>
                                    <label>Date Required</label>
                                    <md-datepicker name="DateRequired" ng-model="ctrl.formData.required" required></md-datepicker>
                                    <div ng-messages="requestDetailForm.DateRequired.$error">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputdemoErrorsAdvanced " flex-gt-sm="50">
                                    <label>Time Required</label>
                                    <input name="timeRequired" ng-model="ctrl.timeRequired" required ng-pattern="ctrl.timeRegex" type="text" />
                                    <div ng-messages="requestDetailForm.timeRequired.$error">
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="pattern">Please input a time in 24 hour format i.e. 13:30</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-input-container>
                                <label>Dietary Requirements</label>
                                <input name="Subject" md-maxlength="250" ng-model="ctrl.formData.dietaryRequirements">
                            </md-input-container>
                            <md-input-container>
                                <label>Additional Comments</label>
                                <textarea ng-model="ctrl.formData.additionalComments" md-maxlength="500" rows="3" max-rows="3" md-no-resize md-select-on-focus></textarea>
                            </md-input-container>
                            <md-input-container ng-show="ctrl.edit" flex="100">
                                <input name="adminComments" type="text" md-maxlength="250" ng-model="ctrl.adminComments" required placeholder="Comments">
                                <div ng-messages="editForm.adminComments.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>
                    <div layout="row" layout-align="space-between">
                        <md-button flex class="md-warn" layout-align="start start" ng-click="ctrl.toggleEdit()">Back</md-button>
                        <md-button flex type="submit" class="md-primary md-raised" layout-align="start end">Update</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>