<md-dialog class="ussModal">
    <md-dialog-content ng-cloak>
        <div md-theme="docs-dark" role="dialog">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Catering Request</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
                        <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-progress-linear md-mode="indeterminate" ng-show="ctrl.running"></md-progress-linear>
            <md-tabs md-dynamic-height  md-selected="ctrl.selectedIndex">
                <md-tab  ng-disabled="ctrl.submited">
                    <md-tab-label>Request Detail</md-tab-label>
                    <md-tab-body>
                        <form name="requestDetailForm" novalidate ng-submit="ctrl.submit(requestDetailForm.$valid)">
                            <div layout="column" layout-margin>
                                <md-input-container>
                                    <label>Requested By</label>
                                    <input disabled ng-model="ctrl.formData.createdBy" />
                                </md-input-container>
                                <div layout="row">
                                    <md-input-container flex-gt-sm="50">
                                        <label>Office</label>
                                        <md-select name="site" ng-model="ctrl.formData.site" required>
                                            <md-option ng-repeat="office in ctrl.offices" value="{{office.name}}">
                                                {{office.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="requestDetailForm.site.$error">
                                            <div ng-message="required">This is required</div>
                                        </div>
                                    </md-input-container>
                                    <!--
                                    <md-input-container flex-gt-sm="50" ng-if="ctrl.formData.site==='London'">
                                        <label>Room</label>
                                        <md-select ng-model="ctrl.formData.room">
                                            <md-option ng-repeat="room in ctrl.londonRooms" value="{{room.name}}">
                                                {{room.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>-->
                                    <md-input-container flex-gt-sm="50" ng-if="ctrl.formData.site==='Liverpool'">
                                        <label>Room</label>
                                        <md-select name="room" ng-model="ctrl.formData.room" required>
                                            <md-option ng-repeat="room in ctrl.liverpoolRooms" value="{{room.name}}">
                                                {{room.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="requestDetailForm.room.$error">
                                            <div ng-message="required">This is required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container flex-gt-sm="50">
                                        <label>Menu Selection</label>
                                        <md-select name="orderChoice" ng-model="ctrl.formData.orderChoice" required>
                                            <md-option ng-repeat="item in ctrl.menues" value="{{item.name}}">{{item.name}}</md-option>
                                        </md-select>
                                        <div ng-messages="requestDetailForm.orderChoice.$error">
                                            <div ng-message="required">This is required</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex-gt-sm="50">
                                        <label>Number Required</label>
                                        <input required type="number" step="any" name="orderCount" ng-model="ctrl.formData.orderCount" min="1" max="99" ng-pattern="numberMatch"
                                        />
                                        <div ng-messages="requestDetailForm.orderCount.$error">
                                            <div ng-message="required">This is required</div>
                                            <div ng-message="min">At least 1 is required</div>
                                            <div ng-message="max">Please call reception</div>
                                            <div ng-message="pattern">Please enter valid characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <div flex="50" layout="row" layout-align="center end">
                                        <md-input-container>
                                            <label>Date Required</label>
                                            <md-datepicker name="DateRequired" ng-model="ctrl.formData.required" required></md-datepicker>
                                            <div ng-messages="requestDetailForm.DateRequired.$error">
                                                <div ng-message="required">This is required</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <md-input-container class="inputdemoErrorsAdvanced " flex-gt-sm="50">
                                        <label>Time Required</label>
                                        <input name="timeRequired" ng-model="ctrl.timeRequired" required ng-pattern="ctrl.timeRegex" type="text" />
                                        <div ng-messages="requestDetailForm.timeRequired.$error">
                                            <div ng-message="required">This is required</div>
                                            <div ng-message="pattern">Please input a time in 24 hour format i.e. 13:30</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div flex="100" layout="row" layout-align="space-between">
                                <md-button flex="nogrow" class="md-warn" ng-click="ctrl.closeDialog()">Cancel</md-button>
                                <md-button flex="nogrow" type="submit" class="md-primary md-raised">Next</md-button>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="!requestDetailForm.$valid||ctrl.submited">
                    <md-tab-label>Additional Information</md-tab-label>
                    <md-tab-body>                        
                        <form name="addInfoForm" ng-submit="ctrl.selectedIndex = 2; ctrl.passed2=true; ctrl.review()">
                            <div layout="column" layout-padding layout-margin>
                            <md-input-container>
                                <label>Dietary Requirements</label>
                                <input name="Subject" md-maxlength="250" ng-model="ctrl.formData.dietaryRequirements">
                            </md-input-container>
                            <md-input-container>
                                <label>Additional Comments</label>
                                <textarea ng-model="ctrl.formData.additionalComments" md-maxlength="500" rows="3" max-rows="3" md-no-resize md-select-on-focus></textarea>
                            </md-input-container>
                            </div>
                            <div flex="100" layout="row" layout-align="space-between">
                                <md-button flex="nogrow" class="md-warn" layout-align="start start" ng-click="ctrl.moveBack()">Back</md-button>
                                <md-button flex="nogrow" type="submit" class="md-primary md-raised">Review</md-button>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="(!requestDetailForm.$valid)||(!addInfoForm.$valid)||ctrl.submited" md-on-select="ctrl.review()">
                    <md-tab-label>Review</md-tab-label>
                    <md-tab-body>
                        <form ng-submit="ctrl.save()"  >
                            <md-content layout-padding layout-margin  >
                                <div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Name</div>
                                        <div layout-padding>{{ctrl.formData.createdBy}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Site</div>
                                        <div layout-padding>{{ctrl.formData.site}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Room</div>
                                        <div layout-padding>{{ctrl.formData.room}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Date</div>
                                        <div layout-padding>{{ctrl.formatDate(ctrl.formData.required)}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Time</div>
                                        <div layout-padding>{{ctrl.formatTime(ctrl.formData.required)}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Menu Choice</div>
                                        <div layout-padding>{{ctrl.formData.orderChoice}} x {{ctrl.formData.orderCount}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Dietary Requirements</div>
                                        <div layout-padding>{{ctrl.formData.dietaryRequirements}}</div>
                                    </div>
                                    <div layout="row">
                                        <div layout-padding flex="50">Additional Comments</div>
                                        <div layout-padding>{{ctrl.formData.additionalComments}}</div>
                                    </div>
                                </div>
                            </md-content>
                            <div layout="row" layout-align="space-between">
                                <md-button flex="nogrow" class="md-warn" ng-click="ctrl.moveBack()">Back</md-button>
                                <md-button flex="nogrow" type="submit" class="md-primary md-raised">Submit</md-button>
                            </div>
                        </form>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="true">
                    <md-tab-label>Confirmation</md-tab-label>
                    <md-tab-body>
                        <md-toolbar class="md-accent md-hue-2">
                            <div class="md-toolbar-tools">
                                <h2>Submitted Successfully - Facilities Reference - {{ctrl.submitData.reference}}</h2>
                            </div>
                        </md-toolbar>
                        <md-content layout-padding layout-margin>
                            <div>
                                <p>Thank you, your order has now been saved, please use the reference above if you have any
                                    queries or wish to amend the order.</p>
                                <div layout="row">
                                    <div layout-padding flex="50">Name</div>
                                    <div layout-padding>{{ctrl.submitData.createdBy}}</div>
                                </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Site </div>
                                    <div layout-padding>{{ctrl.submitData.site}}</div>
                                </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Room</div>
                                    <div layout-padding>{{ctrl.submitData.room}}</div>
                                </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Date</div>
                                    <div layout-padding>{{ctrl.formatDate(ctrl.submitData.required)}}</div>
                                </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Time </div>
                                    <div layout-padding>{{ctrl.formatTime(ctrl.submitData.required)}}</div>
                                </div>
                                <div layout="row">
                                        <div layout-padding flex="50">Menu Choice</div>
                                        <div layout-padding>{{ctrl.formData.orderChoice}} x {{ctrl.formData.orderCount}}</div>
                                    </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Dietary Requirements</div>
                                    <div layout-padding>{{ctrl.submitData.dietaryRequirements}}</div>
                                </div>
                                <div layout="row">
                                    <div layout-padding flex="50">Additional Comments</div>
                                    <div layout-padding>{{ctrl.submitData.additionalComments}}</div>
                                </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </md-dialog-content>
</md-dialog>