<div id="wrapper">
<!-- Main -->

    <div id="main">
        <div class="inner" md-theme="docs-dark">
            
            <section class="tiles">
                <article ng-click="returnHome()" style="height:100%;" class="style_generic" style="cursor:pointer">
                    <span class="image">
                        <img src="images/pic01.jpg" alt="" />
                    </span>
                    <a>
                        <h2>Back</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="s_taxi" ng-click="openTaxiModal()" style="cursor:pointer">
                    <span class="image">
                        <img src="images/pic01.jpg" alt="" />
                    </span>
                    <a>
                        <h2>Book a Taxi</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="s_roomBooking"  ng-click="openRoomModal()" style="cursor:pointer">
                    <span class="image">
                        <img src="images/pic02.jpg" alt="" />
                    </span>
                    <a>
                        <h2>Book a Room</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="s_catering " ng-click="openCateringModal()"  style="cursor:pointer">
                    <span class="image ">
                        <img src="images/pic03.jpg" alt="" />
                    </span>
                    <a>
                        <h2 class="animation-target-catering">Catering Request</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style_generic">
                    <span class="image">
                        <img src="images/pic03.jpg" alt="" />
                    </span>
                    <a>
                        <h2>More...</h2>
                        <div class="content">
                            <p>Coming Soon</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
</div>